.action {
max-width: 320px;
font-family: "Oswald_Medium", "Oswald_Regular", "Arial", sans-serif;
font-style: normal;
font-weight: normal;

  &__wrapper {
    margin-left: 20px;
  }

  &__header {
    font-size: 36px;
    line-height: 40px;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__text {
    font-family: "Arial", "Oswald_Medium", "Oswald_Regular", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: $special_dark_grey;
  }
}
