.action__wrapper {
  margin-left: 20px;

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: 1440px;
  }
}

.action__header {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.action__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.action__item {
  width: 279px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.action__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $gray--dark;
}
