.association {
  background-color: $gray--light;
}

.association__wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 39px;
  padding-bottom: 19px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: $desktop-width;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.association__logo {
  background-color: $gray--light;
  width: 128px;
  height: 24px;
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 58px;
    margin-bottom: 63px;
  }
}

.association__logo-svg {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
