.cat-owner__header {
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $black;
}

.cat-owner__wrapper-data {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
  }
}

.cat-owner__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $gray--dark;
}

.cat-owner__input {
  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $gray--dark;
  }
}
