.cooperation {
  max-width: 320px;
  font-family: "Oswald_Medium", "Oswald_Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;

  &__wrapper {
    margin-right: 19px;
    margin-left: 19px;
  }

  &__header {
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: $cooperation_header;
  }

  &__text {
    font-family: "Arial", "Oswald_Medium", "Oswald_Regular", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: $special_dark_grey;
  }
}
