.cooperation__coopeartion {
  position: relative;
  background-color: $gray--light;

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
    margin: auto;
  }
}

.cooperation__wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 19px;
  margin-left: 19px;
  padding-top: 28px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-right: 71px;
    margin-left: 71px;
    padding-top: 66px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    min-height: 201px;
    width: 570px;
    background-color: $white;
    top: 95px;
    margin: 0;
    padding-top: 66px;
    padding-left: 76px;
    padding-right: 86px;
    padding-bottom: 51px;
  }
}

.cooperation__header {
  width: 140px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $black-header;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    width: 171px;
    font-size: 20px;
    line-height: 24px;

    br {
      display: block;
    }
  }
}

.cooperation__text {
  width: 140px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 22px;
  color: $gray--dark;
  margin-top: -4px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 159px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    br {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.cooperation__map {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
