.copyright {
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    width: 163px;
    margin: 0;
    margin-top: 65px;
    margin-bottom: 62px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;

  &:hover,
  &:active {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $gray--dark;
}

.copyright__img {
  margin-top: -7px;
  width: 27px;
  height: 34px;
}
