.example {
  background-color: $gray--light;
}

.example__wrapper {
  padding-left: 20px;
  padding-top: 27px;

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: $desktop-width;
  }
}

.example__header {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: $black;
}

.example__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $gray--dark;
}

.example__wrapper-cost {
  margin-top: 25px;
}

.example__list {
  display: flex;
  list-style: none;
  padding: 0;
}

.example__text-bold {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $black;
}

.example__text-small {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $gray--dark;
}

.example__text-change {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

.example__cost {
  display: flex;
  margin-top: 34px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $black;

  @media (min-width: $tablet-width) {
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.example__wrapper-change {
  margin-top: 42px;
}

.example__variation {
  margin-top: 27px;
}
