.gift {
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
  }
}

.gift__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $white;
}
