.pick__wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.pick__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.pick__item {
  background-color: $gray--light;
}

.pick__header {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
}

.pick__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $gray--dark;
}

.pick__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-align: center;
  text-transform: uppercase;
}
