.pick {
  @media (min-width: $tablet-width) {
    margin-top: -22px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: $desktop-width;
  }
}

.pick__wrapper {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -170px;
    margin-left: 110px;
    margin-right: 110px;
  }
}

.pick__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 0;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

.pick__item {
  position: relative;
  background-color: $gray--light;
  padding-left: 20px;
  padding-bottom: 22px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 53px;
    padding-bottom: 57px;
    margin-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    top: 22px;
    left: 22px;
    background-color: $green;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      height: 200px;
      width: 200px;
      top: 92px;
      left: auto;
      right: 62px;
    }

    @media (min-width: $desktop-width) {
      height: 100px;
      width: 100px;
      top: 47px;
      left: 52px;
    }
  }
}

.pick__header {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $black;
  margin-left: 71px;
  margin-top: 29px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-top: 77px;
    margin-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 161px;
    margin-top: 77px;
    margin-bottom: 73px;
  }

  &::before {
    content: "";
    position: absolute;
  }

  &--slimming::before {
    width: 50px;
    height: 50px;
    top: 19px;
    left: 29px;
    background: url("../../img/icon-cat-slim.svg") no-repeat;

    @media (min-width: $tablet-width) {
      width: 140px;
      height: 192px;
      top: 81px;
      left: auto;
      right: 92px;
    }

    @media (min-width: $desktop-width) {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 67px;
    }
  }

  &--mass::before {
    width: 67px;
    height: 28px;
    top: 33px;
    left: 13px;
    background: url("../../img/icon-cat-pro.svg") no-repeat;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      top: 135px;
      left: auto;
      right: 28px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      top: 67px;
      left: 33px;
    }
  }
}

.pick__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $gray--dark;
  margin-top: 0;
  margin-right: 20px;
  padding-bottom: 22px;
  margin-bottom: 18px;
  border-bottom: 1px solid $gray-border;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-right: 279px;
    margin-bottom: 52px;
    padding: 0;
    border: none;

    br {
      display: block;
    }

    &--mas {
      margin-right: 310px;
    }
  }

  @media (min-width: $tablet-width + 1px) {
    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 27px;
    margin-right: auto;
  }
}

.pick__link {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 11px;
    top: 6px;
    left: 102px;
    background: url("../../img/icon-right-arrow-long.svg") no-repeat;

    @media (min-width: $tablet-width) {
      top: 10px;
      left: 132px;
      width: 23px;
    }

    @media (min-width: $desktop-width) {
      top: 11px;
      left: 132px;
      width: 26px;
    }
  }

  @media (min-width: $tablet-width) {
    &:hover::after {
      width: 26px;
      background: url("../../img/icon-right-arrow-long.svg") no-repeat;
    }

    &:active,
    &:active::after {
      opacity: 0.3;
    }
  }
}
