.selection {
  @media (min-width: $desktop-width) {
    margin: auto;
    width: $desktop-width;
  }
}

.selection__wrapper-global {
  padding-left: 20px;
  padding-right: 20px;
}

.selection__wrapper {
  width: 100%;
  border-bottom: 1px solid $gray-border;

  &--owner {
    padding-top: 26px;
    border: none;
  }

  &--comment {
    border: none;
  }

  &--additionally {
    border: none;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &--target {
      padding-left: 70px;
    }

    &--owner {
      padding-top: 77px;
    }
  }

  @media (min-width: $desktop-width) {
    &--target {
      padding-left: 0;
    }

    &--owner {
      position: relative;
      // width: 200%;
      padding: 0;
      // margin-left: auto;
      // margin-right: auto;
      // margin: 0 auto;
      padding-top: 71px;

      &::before {
        position: absolute;
        content: "";
        z-index: -1;
        right: -20px;
        width: 200%;
        height: 2px;
        top: 16px;
        background-color: $green;

        @media (min-width: $tablet-width) {
          top: 92px;
          width: 200%;
          // right: 0;
        }

        @media (min-width: $desktop-width) {
          // display: none;
        }
      }
    }
  }
}

.selection__wrapper-info-target {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}


.selection__submit {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-left: 71px;
    margin-right: 70px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 110px;
    margin-right: 110px;
  }
}

.selection__btn {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 26px 64px;
    font-size: 20px;
    line-height: 0px;
    margin-right: 63px;
  }

  @media (min-width: $desktop-width) {
    width: 569px;
    margin-right: 83px;
    margin-bottom: 22px;
  }
}

.selection__required {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $black;
  margin-top: 21px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-top: 28px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 22px;
  }
}
