$gray--lighten: #cdcdcd;
$gray--light: #f2f2f2;
$gray: #666666;
$gray--dark:  #444444;
$gray--darken: #222222;
$gray-border: #d9d9d9;
$white: #ffffff;
$white--light: #ebebeb;
$green: #68b738;
$green--dark: #5eaa2f;
$black: #000000;
$black-header: #111111;
$red-error: #ff8282;
